<!--====== Breadcrumb part Start ======-->
<section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
    <div class="container">
        <div class="breadcrumb-text">
            <h1 class="page-title">BPO( Non Voice Process )</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
   
</section>
<!--====== Breadcrumb part End ======-->

<!--====== Service Details Start ======-->
<section class="service-details section-gap">
    <div class="container">
        <div class="row">
            <!-- Dettails Content -->
            <div class="col-lg-8">
                <div class="service-details-content">
                    <div class="main-thumb mb-40">
                        <img src="assets/img/details/service-01.jpg" alt="image">
                    </div>
                    <h2 class="title">BPO (Non Voice Process)</h2>
                    <p>
                        Welcome to our BPO (Non Voice Process) Services
                        Looking for a reliable and efficient outsourcing solution? You've come to the right place. At
                        Calibrage Info Systems, we specialize in providing top-notch non-voice process services for
                        businesses of all sizes across various industries. With our expertise and dedication, we ensure
                        seamless operations and exceptional customer support, helping you enhance productivity and focus
                        on
                        core competencies.
                        <br />
                        <br />
                        Why Choose Our Non-Voice Process Services?
                        <br />
                        <br />
                        1. Cost Efficiency: Outsourcing non-voice processes allows you to reduce operational costs
                        significantly. By leveraging our services, you can save on infrastructure, staffing, and
                        training
                        expenses.
                        <br/>
                        2. Enhanced Productivity: Our dedicated team of experts takes care of your non-voice processes,
                        enabling your in-house team to concentrate on core tasks and improve overall productivity.
                        <br/>
                        3. Scalability: As your business grows, our non-voice process services can easily scale to
                        accommodate your evolving needs, ensuring uninterrupted support to your customers.
                        <br/>
                        4. Quality Assurance: We adhere to strict quality control measures to deliver consistent and
                        exceptional customer experiences. Our team undergoes regular training to stay updated with the
                        latest industry trends and best practices.
                        <br/>
                        5. Data Security: We prioritize data security and confidentiality, implementing robust measures
                        to
                        protect sensitive customer information throughout the non-voice process.
                        Partner with Calibrage Info Systems for your non-voice process requirements, and experience the
                        benefits of streamlined operations, increased customer satisfaction, and cost savings. Contact
                        us
                        today to learn more about our services and how we can tailor a solution to meet your unique
                        business
                        needs.
                    </p>
                    <ul class="circle-check-list mt-50 mb-50">
                        <li>
                            <i class="fas fa-check"></i>Customer services
                        </li>
                        <li>
                            <i class="fas fa-check"></i>Managed It services
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Sidebar -->
            <div class="col-lg-4 col-md-8">
                <!-- <app-sidebar></app-sidebar> -->
                <div class="sidebar">
                    <!-- Services List Widget -->
                    <div class="widget cat-widget">
                        <h4 class="widget-title">All Service List</h4>

                        <ul>
                            <li>
                                <a href="/webdesign">Web Design & Development<span><i
                                            class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/mobile">Mobile App Development<span><i
                                            class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/bussinessintelligence">Business Intelligence & Data Base<span><i
                                            class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/contract">Contract Programming<span><i
                                            class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/plc">PLC Programming<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/technical">Technical Support & Maintenance<span><i
                                            class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/bpo">BPO(Non Voice Process)<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/project">Project Management & Analysis<span><i
                                            class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/consultancy">Consultancy<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/outsourcing">Out Sourcing<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/education">Education/Training<span><i
                                            class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/other">Other IT Services<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/ecommerce">ECommerce Appllication<span><i
                                            class="far fa-angle-right"></i></span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- CTA Widget -->
                    <div class="widget cta-widget" style="background-image: url(assets/img/sidebar/cta.jpg);">
                        <h4 class="title">Need Any Consultations</h4>
                        <a href="#" class="main-btn">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Service Details End ======-->

<!--====== CTA Start ======-->
<section class="cta-aection">
    <div class="container">
        <div class="cta-wrap bg-img-c" style="background-image: url(assets/img/lines/16.png);">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="cta-content text-center">
                        <div class="section-title both-border mb-30">
                            <span class="title-tag">Get A Quote</span>
                            <h2 class="title">Feel Any Project For Business Consulting Get Started Us</h2>
                        </div>
                        <a href="#" class="main-btn main-btn-3">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== CTA Start ======-->