<!--====== Breadcrumb part Start ======-->
<section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
    <div class="container">
        <div class="breadcrumb-text">
            <h1 class="page-title">Web Designing & Development</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
   
</section>
<!--====== Breadcrumb part End ======-->

<!--====== Service Details Start ======-->
<section class="service-details section-gap">
    <div class="container">
        <div class="row">
            <!-- Dettails Content -->
            <div class="col-lg-8">
                <div class="service-details-content">
                    <div class="main-thumb mb-40">
                        <img src="assets/img/details/service-01.jpg" alt="image">
                    </div>
                    <h2 class="title">Web Designing and Web Development</h2>
                    <p>
                        Our in-house, award-winning web and graphic designers recognize the fact that usability,
                        functionality, and visualization are the three important factors of an application interface or
                        website. We work with you to ensure that your digital marketing goals are realized with the
                        designs
                        we create.
                        Our process, which we’ve constantly developed and streamlined over the years, focuses on getting
                        to
                        know you, your company, and most importantly, your target audience. We develop design concepts
                        that
                        will meet and exceed your expectations and your marketing goals.
                    </p>
                    <ul class="circle-check-list mt-50 mb-50">
                        <li>
                            <i class="fas fa-check"></i>Web API
                        </li>
                        <li>
                            <i class="fas fa-check"></i>Web Services
                        </li>
                        <li>
                            <i class="fas fa-check"></i>ASP.NET Core
                        </li>
                        <li>
                            <i class="fas fa-check"></i>Azure
                        </li>
                        <li>
                            <i class="fas fa-check"></i>Angular
                        </li>
                        <li>
                            <i class="fas fa-check"></i>WCF
                        </li>
                    </ul>
<!--                     
                    <div class="col-12 d-flex ">
                        <div class="col-6 card">
                            <h4 class="widget-title"> 
                                Our Approch
                            </h4>
                            <p>
                                Our main emphasis is to deliver best quality in every project we undertake. With our time
                                tested business methodology, and structured solution building approach.
                            </p>
                        </div>
                        <div class="col-6 card">
                            <h4 class="widget-title"> 
                                100% Satisfied Customers
                            </h4>
                            <p>
                                Each of our customers and partners is unique, aware that their trust is what is most
                                precious, we work every day to make these relationships even stronger and mutually
                                enriching.
                            </p>
                        </div>

                    </div> -->
                </div>
            </div>
            <!-- Sidebar -->
            <div class="col-lg-4 col-md-8">
                <!-- <app-sidebar></app-sidebar> -->
                <div class="sidebar">
                    <!-- Services List Widget -->
                    <div class="widget cat-widget">
                        <h4 class="widget-title">All Service List</h4>
                        <ul>
                            <li>
                                <a href="/webdesign">Web Design & Development<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/mobile">Mobile App Development<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/bussinessintelligence">Business Intelligence & Data Base<span><i
                                            class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/contract">Contract Programming<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/plc">PLC Programming<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/technical">Technical Support & Maintenance<span><i
                                            class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/bpo">BPO(Non Voice Process)<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/project">Project Management & Analysis<span><i
                                            class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/consultancy">Consultancy<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/outsourcing">Out Sourcing<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/education">Education/Training<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/other">Other IT Services<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/ecommerce">ECommerce Appllication<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- CTA Widget -->
                    <div class="widget cta-widget" style="background-image: url(assets/img/sidebar/cta.jpg);">
                        <h4 class="title">Need Any Consultations</h4>
                        <a href="#" class="main-btn">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Service Details End ======-->

<!--====== CTA Start ======-->
<section class="cta-aection">
    <div class="container">
        <div class="cta-wrap bg-img-c" style="background-image: url(assets/img/lines/16.png);">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="cta-content text-center">
                        <div class="section-title both-border mb-30">
                            <span class="title-tag">Get A Quote</span>
                            <h2 class="title">Feel Any Project For Business Consulting Get Started Us</h2>
                        </div>
                        <a href="#" class="main-btn main-btn-3">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== CTA Start ======-->