<!--====== Header part start ======-->
<header class="sticky-header">
    <!-- Header Menu  -->
    <div class="header-nav">
        <div class="container-fluid container-1600">
            <div class="nav-container">
                <!-- Site Logo -->
                <div class="site-logo">
                    <a href="index.html"><img src="assets/calibrage-logo_white.png" alt="Logo"></a>
                </div>

                <!-- Main Menu -->
                <div class="nav-menu d-lg-flex align-items-center">

                    <!-- Navbar Close Icon -->
                    <div class="navbar-close">
                        <div class="cross-wrap"><span></span><span></span></div>
                    </div>

                    <!-- Mneu Items -->
                    <div class="menu-items">
                        <ul class="m-0">
                            <li>
                                <a href="/home">Home</a>
                            </li>
                            <li class="has-submemu">
                                <a href="/home" aria-expanded="false">Company</a>
                                <ul class="submenu">
                                    <li><a href="/aboutUs">About Us</a></li>
                                    <li><a routerLink="/leadershipteam">Leadership Team</a></li>
                                    <li><a routerLink="/careers">Careers</a></li>
                                </ul>
                            </li>
                            <li class="has-submemu">
                                <a href="/home">Services</a>
                                <ul class="submenu">
                                    <li><a routerLink="/webdesign">Web Design & Development</a></li>
                                    <li><a routerLink="/mobile">Mobile App Development</a></li>
                                    <li><a routerLink="/bussinessintelligence">Bussiness Intelligence & Data
                                            Base</a></li>
                                    <li><a routerLink="/contractprogramming">Contract Programming</a></li>
                                    <li><a routerLink="/plc">PLC Programming</a></li>
                                    <li><a routerLink="/technical">Technical Support And
                                            Maintenance</a></li>
                                    <li><a routerLink="/bpo">BPO(Non Voice Process)</a></li>
                                    <li><a routerLink="/project">Project Management & Analysis</a>
                                    </li>
                                    <li><a routerLink="/consultancy">Consultancy</a></li>
                                    <li><a routerLink="/outsourcing">OutSourcing</a></li>
                                    <li><a routerLink="/education">Education/Training</a></li>
                                    <li><a routerLink="/other">Other IT Services</a></li>
                                    <li><a routerLink="/ecommerce">ECommerce Application</a></li>
                                </ul>

                            </li>
                            <li>
                                <a href="/industries">Industries</a>
                            </li>
                            <li><a href="/contactUs">Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- Pushed Item -->
                    <div class="nav-pushed-item"></div>
                </div>

                <!-- Navbar Extra  -->
                <div class="navbar-extra d-lg-block d-flex align-items-center">
                    <!-- Navbtn -->
                    <div class="navbar-btn nav-push-item">
                        <a class="main-btn main-btn-3" href="#">Sign In</a>
                    </div>
                    <!-- Navbar Toggler -->
                    <div class="navbar-toggler">
                        <span></span><span></span><span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--====== Header part end ======-->