<!--====== Breadcrumb part Start ======-->
<section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/consultancy.jpg);">
    <div class="container">
        <div class="breadcrumb-text">
            <h1 class="page-title">Consultancy</h1>
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
   
</section>
<!--====== Breadcrumb part End ======-->

<!--====== Service Details Start ======-->
<section class="service-details section-gap">
    <div class="container">
        <div class="row">
            <!-- Dettails Content -->
            <div class="col-lg-8">
                <div class="service-details-content">
                    <div class="main-thumb mb-40">
                        <img src="assets/img/details/service-09.jpg" alt="claibrage info systems">
                    </div>
                    <h2 class="title">Consultancy</h2>
                    <p>
                        Calibrage offers a wide range of UX/UI, Content Management, and Business Analysis consulting
                        solutions, utilizing proven methodologies to achieve the goal. Calibrage focuses on strategic needs
                        of our clients' businesses to determine the technology capabilities that are required to support
                        their long-term goals.
                    </p>
                    <ul class="circle-check-list mt-50 mb-50">
                        <li>
                            <i class="fas fa-check"></i>Aligned expertise with your business goals.
                        </li>
                        <li>
                            <i class="fas fa-check"></i>Improved customer satisfaction & business goals.
                        </li>
                        <li>
                            <i class="fas fa-check"></i>Excellent user experience through products.
                        </li>
                        <li>
                            <i class="fas fa-check"></i>Reduced support & training costs.
                        </li>
                        <li>
                            <i class="fas fa-check"></i>Enhanced & streamlined information base.
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Sidebar -->
            <div class="col-lg-4 col-md-8">
                <app-sidebar></app-sidebar>
            </div>
        </div>
    </div>
</section>
<!--====== Service Details End ======-->

<!--====== CTA Start ======-->
<section class="cta-aection">
    <div class="container">
        <div class="cta-wrap bg-img-c" style="background-image: url(assets/img/lines/16.png);">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="cta-content text-center">
                        <div class="section-title both-border mb-30">
                            <span class="title-tag">Get A Quote</span>
                            <h2 class="title">Feel Any Project For Business Consulting Get Started Us</h2>
                        </div>
                        <a href="#" class="main-btn main-btn-3">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== CTA Start ======-->