<div class="sidebar">
    <!-- Services List Widget -->
    <div class="widget cat-widget">
        <h4 class="widget-title">All Service List</h4>
        <ul>
            <li>
                <a [class.active]="activeRoute === '/services/webdesign'" routerLink="/services/webdesign">Web Design & Development<span><i class="far fa-angle-right"></i></span></a>
            </li>
            <li>
                <a [class.active]="activeRoute === '/services/mobile'" routerLink="/services/mobile">Mobile App Development<span><i class="far fa-angle-right"></i></span></a>
            </li>
            <li>
                <a [class.active]="activeRoute === '/services/bussinessintelligence'" routerLink="/services/bussinessintelligence">Business Intelligence & Data Base<span><i
                            class="far fa-angle-right"></i></span></a>
            </li>
            <li >
                <a [class.active]="activeRoute === '/services/contract'" routerLink="/services/contract">Contract Programming<span><i class="far fa-angle-right"></i></span></a>
            </li>
            <li>
                <a [class.active]="activeRoute === '/services/plc'" routerLink="/services/plc">PLC Programming<span><i class="far fa-angle-right"></i></span></a>
            </li>
            <li>
                <a [class.active]="activeRoute === '/services/technical'" routerLink="/services/technical">Technical Support & Maintenance<span><i
                            class="far fa-angle-right"></i></span></a>
            </li>
            <li>
                <a [class.active]="activeRoute === '/services/bpo'" routerLink="/services/bpo">BPO(Non Voice Process)<span><i class="far fa-angle-right"></i></span></a>
            </li>
            <li>
                <a [class.active]="activeRoute === '/services/project'" routerLink="/services/project">Project Management & Analysis<span><i
                            class="far fa-angle-right"></i></span></a>
            </li>
            <li>
                <a [class.active]="activeRoute === '/services/consultancy'" routerLink="/services/consultancy">Consultancy<span><i class="far fa-angle-right"></i></span></a>
            </li>
            <li>
                <a [class.active]="activeRoute === '/services/outsourcing'" routerLink="/services/outsourcing">Out Sourcing<span><i class="far fa-angle-right"></i></span></a>
            </li>
            <li>
                <a [class.active]="activeRoute === '/services/education'" routerLink="/services/education">Education/Training<span><i class="far fa-angle-right"></i></span></a>
            </li>
            <li>
                <a [class.active]="activeRoute === '/services/other'" routerLink="/services/other">Other IT Services<span><i class="far fa-angle-right"></i></span></a>
            </li>
            <li>
                <a [class.active]="activeRoute === '/services/ecommerce'" routerLink="/services/ecommerce">ECommerce Appllication<span><i class="far fa-angle-right"></i></span></a>
            </li>
        </ul>
    </div>
    <!-- CTA Widget -->
    <!-- <div class="widget cta-widget" style="background-image: url(assets/img/sidebar/cta.jpg);">
        <h4 class="title">Need Any Consultations</h4>
        <a href="#" class="main-btn">Send Message</a>
    </div> -->
</div>