<!--====== Breadcrumb part Start ======-->
<section class="breadcrumb-section bg-img-c" style="background-image: url(assets/contract.jpg);">
    <div class="container">
        <div class="breadcrumb-text">
            <h1 class="page-title">Contract Programming</h1>
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
   
</section>
<!--====== Breadcrumb part End ======-->

<!--====== Service Details Start ======-->
<section class="service-details section-gap">
    <div class="container">
        <div class="row">
            <!-- Dettails Content -->
            <div class="col-lg-8">
                <div class="service-details-content">
                    <div class="main-thumb mb-40">
                        <img src="assets/img/details/service-04.jpg" alt="claibrage info systems">
                    </div>
                    <h2 class="title">Contract Programming</h2>
                    <p>
                        The elements of 'contract-based programming' – assertions of program properties that are part of
                        the
                        source text – have been available in some programming languages for many years but have only
                        recently moved into the mainstream of software development. The latest version has added
                        contract-based programming features that can be verified either dynamically with run-time
                        checks, or
                        statically through formal analysis tools. Both approaches help make programs more reliable by
                        preventing errors from getting into production code.
                        <br />
                        <br />
                        In everyday life a service or a product typically comes with a contract or warranty: an
                        agreement in
                        which one party promises to supply the service or product for the benefit of some other party.
                        An
                        effective contract for a service specifies two kinds of requirements.
                    </p>
                </div>
            </div>
            <!-- Sidebar -->
            <div class="col-lg-4 col-md-8">
                <app-sidebar></app-sidebar>
            </div>
        </div>
    </div>
</section>
<!--====== Service Details End ======-->

<!--====== CTA Start ======-->
<section class="cta-aection">
    <div class="container">
        <div class="cta-wrap bg-img-c" style="background-image: url(assets/img/lines/16.png);">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="cta-content text-center">
                        <div class="section-title both-border mb-30">
                            <span class="title-tag">Get A Quote</span>
                            <h2 class="title">Feel Any Project For Business Consulting Get Started Us</h2>
                        </div>
                        <a href="#" class="main-btn main-btn-3">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== CTA Start ======-->