<!--====== Breadcrumb part Start ======-->
<section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
    <div class="container">
        <div class="breadcrumb-text">
            <h1 class="page-title">Business Intelligence & Database</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
   
</section>
<!--====== Breadcrumb part End ======-->

<!--====== Service Details Start ======-->
<section class="service-details section-gap">
    <div class="container">
        <div class="row">
            <!-- Dettails Content -->
            <div class="col-lg-8">
                <div class="service-details-content">
                    <div class="main-thumb mb-40">
                        <img src="assets/img/details/service-01.jpg" alt="image">
                    </div>
                    <h2 class="title">Business Intelligence & Database</h2>
                    <p>
                        All the professional bodies offer guidelines on the level and type of information that should be
                        defined in the early stages of the project in the form of a Project Management Plan.
                        <br />
                        <br />
                        The purpose of such a document is to provide a comprehensive baseline of what has to be achieved
                        by
                        the project, how it is to be achieved, who will be involved, how it will be reported and
                        measured
                        and how information will be communicated. It should be used as a reference for any decision that
                        is
                        made on the project and for clarification of unclear areas.Such a document should be used as a
                        reference throughout the project to ensure that the management of the project is carried out
                        consistently and in line with policy and procedures. Although the PMP is developed as part of
                        the
                        project initiation and definition, it should be a living document that evolves as the project
                        progresses and is updated with the latest relevant information as required.
                        <br />
                        <br />
                        The PMP should be available to all project members as it can provide essential project
                        information
                        and can be used to introduce project members to the project. The project management plan is
                        probably
                        the main communication document for the project.
                    </p>
                </div>
            </div>
            <!-- Sidebar -->
            <div class="col-lg-4 col-md-8">
                <!-- <app-sidebar></app-sidebar> -->
                <div class="sidebar">
                    <!-- Services List Widget -->
                    <div class="widget cat-widget">
                        <h4 class="widget-title">All Service List</h4>

                        <ul>
                            <li>
                                <a href="/webdesign">Web Design & Development<span><i
                                            class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/mobile">Mobile App Development<span><i
                                            class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/bussinessintelligence">Business Intelligence & Data Base<span><i
                                            class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/contract">Contract Programming<span><i
                                            class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/plc">PLC Programming<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/technical">Technical Support & Maintenance<span><i
                                            class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/bpo">BPO(Non Voice Process)<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/project">Project Management & Analysis<span><i
                                            class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/consultancy">Consultancy<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/outsourcing">Out Sourcing<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/education">Education/Training<span><i
                                            class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/other">Other IT Services<span><i class="far fa-angle-right"></i></span></a>
                            </li>
                            <li>
                                <a href="/ecommerce">ECommerce Appllication<span><i
                                            class="far fa-angle-right"></i></span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- CTA Widget -->
                    <div class="widget cta-widget" style="background-image: url(assets/img/sidebar/cta.jpg);">
                        <h4 class="title">Need Any Consultations</h4>
                        <a href="#" class="main-btn">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Service Details End ======-->

<!--====== CTA Start ======-->
<section class="cta-aection">
    <div class="container">
        <div class="cta-wrap bg-img-c" style="background-image: url(assets/img/lines/16.png);">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="cta-content text-center">
                        <div class="section-title both-border mb-30">
                            <span class="title-tag">Get A Quote</span>
                            <h2 class="title">Feel Any Project For Business Consulting Get Started Us</h2>
                        </div>
                        <a href="#" class="main-btn main-btn-3">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== CTA Start ======-->