<!--====== Banner part start ======-->
<section class="banner-section">
	<div id="bannerCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="single-banner" style="background-image: url(assets/banner/01.jpg);">
					<div class="container">
						<div class="row">
							<div class="col-lg-10">
								<div class="banner-content">
									<span class="promo-text" data-animation="fadeInDown" data-delay="0.8s">
										SOFTWARE DEVELOPMENT & SUPPORT <br/>
SERVICES FOR YOUR BUSINESS 
										
									</span>
									<h1 data-animation="fadeInUp" data-delay="1s">
										
										Custom software application development refers to the process of <br/> designing, creating, and deploying software applications that are <br/> specifically tailored to meet the unique needs and requirements <br/>of a  particular organization or business.

									</h1>
									
									<ul class="btn-wrap">
										<!-- <li data-animation="fadeInLeft" data-delay="1.2s">
											<a href="#" class="main-btn main-btn-4">Get Started Now</a>
										</li> -->
										<li data-animation="fadeInRight" data-delay="1.4s">
											<a href="#" class="main-btn main-btn-2">Our Services</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="banner-shapes">
						<div class="one"></div>
						<div class="two"></div>
						<div class="three"></div>
						<div class="four"></div>
					</div>
				</div>
			</div>

			<div class="carousel-item">
				<div class="single-banner" style="background-image: url(assets/banner/02.jpg);">
					<div class="container">
						<div class="row">
							<div class="col-lg-10">
								<div class="banner-content">
									<span class="promo-text" data-animation="fadeInDown" data-delay="0.8s">
										Unified Agri Solutions for<br/> Palm oil and Suger Cane
									</span>
									<h1 data-animation="fadeInUp" data-delay="1s">
										Former Enrollment, Geo Plotting, Input Distributions, Traceability,<br/> Procurement, Harvesting Planning & Management, Stock Management,<br/> Real time Analytics, Digital Mapping, Farmar Data Management, <br/>Know-how to Farmar for Crop and Yield, Yield Planning etc., and more.
									</h1>
									<ul class="btn-wrap">
										<!-- <li data-animation="fadeInLeft" data-delay="1.2s">
											<a href="#" class="main-btn main-btn-4">Get Started Now</a>
										</li> -->
										<li data-animation="fadeInRight" data-delay="1.4s">
											<a href="#" class="main-btn main-btn-2">Our Services</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="banner-shapes">
						<div class="one"></div>
						<div class="two"></div>
						<div class="three"></div>
						<div class="four"></div>
					</div>
				</div>
			</div>

			<div class="carousel-item">
				<div class="single-banner" style="background-image: url(assets/banner/03.jpg);">
					<div class="container">
						<div class="row">
							<div class="col-lg-10">
								<div class="banner-content">
									<span class="promo-text" data-animation="fadeInDown" data-delay="0.8s">
										Cross-Platform <br/>Mobile App Development
									</span>
									<h1 data-animation="fadeInUp" data-delay="1s">
										As a mobile app development company, develops Cross-Platform and Hybrid<br/>   Applications to help businesses target multiple platforms using the same<br/> code base for Windows, iOS and Android platforms. We deliver multi-purpose<br/> cross-platform mobile application design using various frameworks.
									</h1>
									<ul class="btn-wrap">
										
										<li data-animation="fadeInRight" data-delay="1.4s">
											<a href="#" class="main-btn main-btn-2">Our Services</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="banner-shapes">
						<div class="one"></div>
						<div class="two"></div>
						<div class="three"></div>
						<div class="four"></div>
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#bannerCarousel" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#bannerCarousel" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<!-- 	
		<div class="search-wrap">
			<a href="#" class="search-icon"><i class="far fa-search"></i></a>
		</div> -->
</section>

<!--====== Banner part end ======-->

<!--====== About Section start ======-->
<section class="about-section about-illustration-img section-gap">
	<div class="container">
		<div class="illustration-img">
			<img src="assets/illustration/01.png" alt="claibrage info systems">
		</div>
		<div class="row no-gutters justify-content-lg-end justify-content-center">
			<div class="col-lg-6 col-md-10">
				<div class="about-text">
					<div class="section-title left-border mb-40">
						<span class="title-tag">About Us</span>
						<p class="mb-25">Our history has started in 2014, through next few we are going to rock the
							world! </p>
					</div>
					<p class="mb-25">
						

We are Indian-based software development company specializing in providing businesses through out the world wide with tailored technology solutions. As a mobile and web-based application development company with skilled software developers, we combine technological expertise, specific domain experience, and a passion for excellence to deliver enterprise-grade solutions.
					</p>
					<a href="/aboutUs" class="main-btn">Learn More</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====== About Section end ======-->

<!--====== Advanced Tabs Section Start ======-->
<section class="advanced-tab section-gap  grey-bg">
	<div class="container">
		<!-- Tabs Buttons -->
		<div class="tab-buttons">
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<a class="active" id="nav-mission" data-toggle="tab" href="#tab-mission" role="tab">Our Mission</a>
				<a id="nav-history" data-toggle="tab" href="#tab-vision" role="tab">Our Vision</a>
				<a id="nav-team" data-toggle="tab" href="#tab-values" role="tab">Our Values</a>
				<a id="nav-team" data-toggle="tab" href="#tab-approach" role="tab">Our Approach</a>

			</div>
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="tab-mission" role="tabpanel">
					<div class="tab-text-block left-image with-left-circle">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 col-md-10">
								<div class="block-image">
									<img src="assets/tab-block.jpg" alt="claibrage info systems">
								</div>
							</div>
							<div class="col-lg-6 col-md-10">
								<div class="block-text">
									<h2 class="title">To Deliver The Best Possible Reliable Software Solutions To Help
										Our Clients.
									</h2>
									<p>
										Our mission is to translate advance technologies in values through professional
										services and providing our clients with the most optimal, cost-effective and
										robust solutions, which boost up with the increase in the returns and
										productivity of their businesses.
									</p>
									<!-- <ul>
										<li>
											<i class="fas fa-check"></i>
											There are many variations of passages of LoreIpsum available, but the
											majority have suffered
										</li>
										<li>
											<i class="fas fa-check"></i>
											It uses a dictionary of over 200 Latin wor combined with a handful of
											model sentence structure
										</li>
										<li>
											<i class="fas fa-check"></i>
											Richard McClintock, a Latin profe hampden-sydney College in Virginia,
											looked up one more
										</li>
									</ul> -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="tab-vision" role="tabpanel">
					<div class="tab-text-block right-image with-right-circle">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 col-md-10 order-2 order-lg-1">
								<div class="block-text">
									<h2 class="title">For the world, envision resonates with Innovation.</h2>
									<p>
										Our vision is to Create Peace and Synergy globally, through technologies and to
										build a reputation of being one of the most innovative IT Solution and Service
										provider. We believe in doing our work in the most efficient way with robust and
										structured methodology, with gradual evolution from hard-work to smart- work
										culture, at client’s end also.
									</p>
									<!-- <ul>
										<li>
											<i class="fas fa-check"></i>
											There are many variations of passages of LoreIpsum available, but the
											majority have suffered
										</li>
										<li>
											<i class="fas fa-check"></i>
											It uses a dictionary of over 200 Latin wor combined with a handful of
											model sentence structure
										</li>
										<li>
											<i class="fas fa-check"></i>
											Richard McClintock, a Latin profe hampden-sydney College in Virginia,
											looked up one more
										</li>
									</ul> -->
								</div>
							</div>
							<div class="col-lg-6 col-md-10 order-1 order-lg-2">
								<div class="block-image">
									<img src="assets/tab-block.jpg" alt="claibrage info systems">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="tab-values" role="tabpanel">
					<div class="tab-text-block left-image with-left-circle">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 col-md-10">
								<div class="block-image">
									<img src="assets/tab-block.jpg" alt="claibrage info systems">
								</div>
							</div>
							<div class="col-lg-6 col-md-10">
								<div class="block-text">
									<h2 class="title">Our core values inspire excellence, creativity and integrity.</h2>
									<p>
										To provide quality with transparency dealing with commitment through advanced
										technologies to create cost effective with value in tune with time & overall
										effectiveness ethically. We aim to be the best at what we do.
									</p>
									<!-- <ul>
										<li>
											<i class="fas fa-check"></i>
											There are many variations of passages of LoreIpsum available, but the
											majority have suffered
										</li>
										<li>
											<i class="fas fa-check"></i>
											It uses a dictionary of over 200 Latin wor combined with a handful of
											model sentence structure
										</li>
										<li>
											<i class="fas fa-check"></i>
											Richard McClintock, a Latin profe hampden-sydney College in Virginia,
											looked up one more
										</li>
									</ul> -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="tab-approach" role="tabpanel">
					<div class="tab-text-block right-image with-right-circle">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 col-md-10 order-2 order-lg-1">
								<div class="block-text">
									<h2 class="title">We Let The Results Do The Talking.</h2>
									<p>
										Our main emphasis is to deliver best quality in every project we undertake. With
										our time tested business methodology, and structured solution building approach,
										we ensure to maintain our global business standards.
									</p>
									<!-- <ul>
										<li>
											<i class="fas fa-check"></i>
											There are many variations of passages of LoreIpsum available, but the
											majority have suffered
										</li>
										<li>
											<i class="fas fa-check"></i>
											It uses a dictionary of over 200 Latin wor combined with a handful of
											model sentence structure
										</li>
										<li>
											<i class="fas fa-check"></i>
											Richard McClintock, a Latin profe hampden-sydney College in Virginia,
											looked up one more
										</li>
									</ul> -->
								</div>
							</div>
							<div class="col-lg-6 col-md-10 order-1 order-lg-2">
								<div class="block-image">
									<img src="assets/tab-block.jpg" alt="claibrage info systems">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====== Why Choose Us Section Start ======-->
<section class="wcu-section section-gap service-section shape-style-one section-gap">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-lg-4 col-md-10">
				<div class="wcu-video wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="400ms">
					<div class="video-poster-one bg-img-c" style="background-image: url(assets/video-bg/poster-4.jpg);">
					</div>
					<div class="video-poster-two bg-img-c" style="background-image: url(assets/video-bg/poster-5.jpg);">
						<a href="https://www.youtube.com/watch?v=fEErySYqItI" class="popup-video">
							<i class="fas fa-play"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-md-10">
				<div class="wcu-text-two">
					<div class="section-title left-border mb-40">
						<span class="title-tag">Our Services</span>
						<!-- <h2 class="title">We Have Many Reasons Why Choose Us</h2> -->
					</div>
					<p>
						Boost your business performance with premium software development services. Our team is proven
						to be result-driven and well-timed in project delivery.
					</p>
					<ul class="wcu-list clearfix">
						<li>
							<i class="far fa-check-circle"></i> Web Design & Development
						</li>
						<li>
							<i class="far fa-check-circle"></i> Mobile App Development
						</li>
						<li>
							<i class="far fa-check-circle"></i> Business Intelligence & Data Base
						</li>
						<li>
							<i class="far fa-check-circle"></i> Contract Programming
						</li>
						<li>
							<i class="far fa-check-circle"></i> PLC Programming
						</li>
						<li>
							<i class="far fa-check-circle"></i> Technical Support & Maintenance
						</li>
						<li>
							<i class="far fa-check-circle"></i> BPO (Non Voice Process)
						</li>
						<li>
							<i class="far fa-check-circle"></i> Project Management and Analysis
						</li>
						<li>
							<i class="far fa-check-circle"></i> Consultancy
						</li>
						<li>
							<i class="far fa-check-circle"></i> Out Sourcing
						</li>
						<li>
							<i class="far fa-check-circle"></i> Education / Training
						</li>
						<li>
							<i class="far fa-check-circle"></i> e-Commerce Applications
						</li>
					</ul>
					<!-- <a href="#" class="main-btn">Join With Us</a> -->
				</div>
			</div>
		</div>
	</div>
</section>