 
   <!--====== Breadcrumb part Start ======-->
   <section class="breadcrumb-section bg-img-c" style="background-image: url(assets/ind.jpg);">
    <div class="container">
        <div class="breadcrumb-text">
            <h1 class="page-title">Industries</h1>

            <ul>
                <li><a routerLink="/home">Home</a> </li>
                <li>Industries </li>
            </ul>
        </div>
    </div>
</section>
<!--====== Breadcrumb part End ======-->
 
 <!--====== Project section Start ======-->
 <section class="project-section mt-0 pt-0">
    <div class="container">
        <!-- Project Boxes -->
        <div class="row project-boxes project-isotope mt-60 justify-content-center">
            <div class="isotope-item col-lg-3 col-sm-4 item-one item-four">
                <div class="project-box hover-style">
                    <div class="project-thumb">
                        <div class="thumb bg-img-c" style="background-image: url(assets/img/project/05.jpg);"></div>
                    </div>
                    <div class="project-desc text-center">
                        <h4><a href="#">Ware House</a></h4>
                        
                       
                    </div>
                </div>
            </div>
            <div class="isotope-item col-lg-3 col-sm-4 item-six item-three item-two">
                <div class="project-box hover-style">
                    <div class="project-thumb">
                        <div class="thumb bg-img-c" style="background-image: url(assets/img/project/03.jpg);"></div>
                    </div>
                    <div class="project-desc text-center">
                        <h4><a href="#">Energy Management</a></h4>                       
                       
                    </div>
                </div>
            </div>
            <div class="isotope-item col-lg-3 col-sm-4 item-two item-five item-one">
                <div class="project-box hover-style">
                    <div class="project-thumb">
                        <div class="thumb bg-img-c" style="background-image: url(assets/img/project/14.jpg);"></div>
                    </div>
                    <div class="project-desc text-center">
                        <h4><a href="#">Agriculture</a></h4>
                       
                    </div>
                </div>
            </div>
            <div class="isotope-item col-lg-3 col-sm-4 item-six item-one item-two">
                <div class="project-box hover-style">
                    <div class="project-thumb">
                        <div class="thumb bg-img-c" style="background-image: url(assets/img/project/02.jpg);"></div>
                    </div>
                    <div class="project-desc text-center">
                        <h4><a href="#">Health Care & Insurance </a></h4>
                       
                    </div>
                </div>
            </div>
            <div class="isotope-item col-lg-3 col-sm-4 item-three item-five item-three">
                <div class="project-box hover-style">
                    <div class="project-thumb">
                        <div class="thumb bg-img-c" style="background-image: url(assets/img/project/10.jpg);"></div>
                    </div>
                    <div class="project-desc text-center">
                        <h4><a href="#">Manufacturing</a></h4>
                       
                    </div>
                </div>
            </div>
            <div class="isotope-item col-lg-3 col-sm-4 item-six item-four">
                <div class="project-box hover-style">
                    <div class="project-thumb">
                        <div class="thumb bg-img-c" style="background-image: url(assets/img/project/11.jpg);"></div>
                    </div>
                    <div class="project-desc text-center">
                        <h4><a href="#">PLC</a></h4>
                       
                    </div>
                </div>
            </div>
            <div class="isotope-item col-lg-3 col-sm-4 item-four item-two item-five">
                <div class="project-box hover-style">
                    <div class="project-thumb">
                        <div class="thumb bg-img-c" style="background-image: url(assets/img/project/01.jpg);"></div>
                    </div>
                    <div class="project-desc text-center">
                        <h4><a href="#">e-Payment</a></h4>                       
                       
                    </div>
                </div>
            </div>
            <div class="isotope-item col-lg-3 col-sm-4 item-one item-three">
                <div class="project-box hover-style">
                    <div class="project-thumb">
                        <div class="thumb bg-img-c" style="background-image: url(assets/img/project/12.jpg);">
                        </div>
                    </div>
                    <div class="project-desc text-center">
                        <h4><a href="#">Charge Back</a></h4>
                       
                    </div>
                </div>
            </div>
            <div class="isotope-item col-lg-3 col-sm-4 item-five item-two">
                <div class="project-box hover-style">
                    <div class="project-thumb">
                        <div class="thumb bg-img-c" style="background-image: url(assets/img/project/13.jpg);">
                        </div>
                    </div>
                    <div class="project-desc text-center">
                        <h4><a href="#">Travel</a></h4>
                       
                    </div>
                </div>
            </div>
            <div class="isotope-item col-lg-3 col-sm-4 item-five item-two">
                <div class="project-box hover-style">
                    <div class="project-thumb">
                        <div class="thumb bg-img-c" style="background-image: url(assets/img/project/17.jpg);">
                        </div>
                    </div>
                    <div class="project-desc text-center">
                        <h4><a href="#">Education</a></h4>
                       
                    </div>
                </div>
            </div>
            <div class="isotope-item col-lg-3 col-sm-4 item-five item-two">
                <div class="project-box hover-style">
                    <div class="project-thumb">
                        <div class="thumb bg-img-c" style="background-image: url(assets/img/project/18.jpg);">
                        </div>
                    </div>
                    <div class="project-desc text-center">
                        <h4><a href="#">Food Processing </a></h4>
                       
                    </div>
                </div>
            </div>
            <div class="isotope-item col-lg-3 col-sm-4 item-five item-two">
                <div class="project-box hover-style">
                    <div class="project-thumb">
                        <div class="thumb bg-img-c" style="background-image: url(assets/img/project/19.jpg);">
                        </div>
                    </div>
                    <div class="project-desc text-center">
                        <h4><a href="#">Geo Fencing  </a></h4>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Project section End ======-->