<!--====== Breadcrumb part Start ======-->
<section class="breadcrumb-section bg-img-c" style="background-image: url(assets/team.jpg);">
    <div class="container">
        <div class="breadcrumb-text">
            <h1 class="page-title">Leadership Team</h1>
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li>Leadership Team</li>
            </ul>
        </div>
    </div>
    <!-- <div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div> -->
</section>
<!--====== Breadcrumb part End ======-->

<!--====== Team Section Start ======-->
<section class="team-section section-gap">
    <div class="container">
        <!-- Section Title -->
        <div class="section-title mb-20 both-border text-center">
            <span class="title-tag">Meet Our Team</span>
            <!-- <h2 class="title">We Have An Exclusive <br> Team Member</h2> -->
        </div>

        <!-- Team Boxes -->
        <div class="row team-members justify-content-center">
            <div class="col-lg-offset-4 col-lg-3 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/01.jpg" alt="TeamMember">
                            <div class="social-icons">
                               

                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                        <h4 class="name">Srinivasa Rao MV</h4>
                        <span class="pro">CEO</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row team-members justify-content-center">
            <div class="col-lg-2 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/15.jpg" alt="TeamMember">
                            <div class="social-icons">
                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                        <h4 class="name">Nikhitha Yatamshetty</h4>
                        <span class="pro">HR Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/18.jpg" alt="TeamMember">
                            <div class="social-icons">
                               

                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                        <h4 class="name">Parvathi Annam</h4>
                        <span class="pro">Project Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/14.jpg" alt="TeamMember">
                            <div class="social-icons">
                               

                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                        <h4 class="name">Poornachandra Rao Challa</h4>
                        <span class="pro">Project Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/03.jpg" alt="TeamMember">
                            <div class="social-icons">
                               

                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                        <h4 class="name">Indra Shekar Reddy Borra</h4>
                        <span class="pro">Team Lead</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/17.jpg" alt="TeamMember">
                            <div class="social-icons">
                               

                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                        <h4 class="name">Bala Sambasiva Rao N</h4>
                        <span class="pro">Team Lead</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-2 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/16.jpg" alt="TeamMember">
                            <div class="social-icons">
                               

                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                        <h4 class="name">Gopi Puppala</h4>
                        <span class="pro">Team Lead</span>
                    </div>
                </div>
            </div>


          

            <div class="col-lg-2 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/10.jpg" alt="TeamMember">
                            <div class="social-icons">
                               

                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                        <h4 class="name">S D K Ayyappa Swamy Paluri</h4>
                        <span class="pro">Team Lead</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/04.jpg" alt="TeamMember">
                            <div class="social-icons">
                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                        <h4 class="name"> Harshitha Garigipati </h4>
                        <span class="pro">Team Lead</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/02.jpg" alt="TeamMember">
                            <div class="social-icons">
                                
                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                        <h4 class="name">Lakshmi Sowmya Parchuri</h4>
                        <span class="pro">Team Lead</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/11.jpg" alt="TeamMember">
                            <div class="social-icons">
                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                        <h4 class="name">Rajeswari Surabathini</h4>
                        <span class="pro">Team Lead</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/13.jpg" alt="TeamMember">
                            <div class="social-icons">
                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                        <h4 class="name">Arun Gattadi</h4>
                        <span class="pro">Mobile Application Lead</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Team Section End ======-->