   <!--====== Breadcrumb part Start ======-->
   <section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
    <div class="container">
        <div class="breadcrumb-text">
            <h1 class="page-title">Leadership Team</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Leadership Team</li>
            </ul>
        </div>
    </div>
        <!-- <div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div> -->
</section>
<!--====== Breadcrumb part End ======-->

<!--====== Team Section Start ======-->
<section class="team-section section-gap">
    <div class="container">
        <!-- Section Title -->
        <div class="section-title mb-20 both-border text-center">
            <span class="title-tag">Meet Our Team</span>
            <!-- <h2 class="title">We Have An Exclusive <br> Team Member</h2> -->
        </div>

        <!-- Team Boxes -->
        <div class="row team-members justify-content-center">
        <div class="col-lg-offset-4 col-lg-3 col-md-4 col-6 col-tiny-12">
            <div class="team-member">
                <div class="member-picture-wrap">
                    <div class="member-picture">
                        <img src="assets/img/team/01.jpg" alt="TeamMember">
                        <div class="social-icons">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-behance"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="member-desc">
                   <h4 class="name">John N. Holmes</h4>
                    <span class="pro">CEO</span>
                </div>
            </div>
        </div>
    </div>
        <div class="row team-members justify-content-center">
            <div class="col-lg-2 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/01.jpg" alt="TeamMember">
                            <div class="social-icons">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-behance"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                       <h4 class="name">John N. Holmes</h4>
                        <span class="pro">Business Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/02.jpg" alt="TeamMember">
                            <div class="social-icons">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-behance"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                       <h4 class="name">Kenneth A. Spencer</h4>
                        <span class="pro">Business Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/03.jpg" alt="TeamMember">
                            <div class="social-icons">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-behance"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                       <h4 class="name">David K. Marble</h4>
                        <span class="pro">Business Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/04.jpg" alt="TeamMember">
                            <div class="social-icons">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-behance"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                       <h4 class="name">Raymond Grimes</h4>
                        <span class="pro">Business Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/10.jpg" alt="TeamMember">
                            <div class="social-icons">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-behance"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                       <h4 class="name">Sebastian Cartwright</h4>
                        <span class="pro">Business Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/11.jpg" alt="TeamMember">
                            <div class="social-icons">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-behance"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                       <h4 class="name">Joseph Browne</h4>
                        <span class="pro">Business Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/12.jpg" alt="TeamMember">
                            <div class="social-icons">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-behance"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                       <h4 class="name">Morgan Graham</h4>
                        <span class="pro">Business Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 col-tiny-12">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img src="assets/img/team/13.jpg" alt="TeamMember">
                            <div class="social-icons">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-behance"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                       <h4 class="name">Mason Parkinson</h4>
                        <span class="pro">Business Developer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Team Section End ======-->