<!--====== Breadcrumb part Start ======-->
<section class="breadcrumb-section bg-img-c" style="background-image: url(assets/breadcrumb.jpg);">
	<div class="container">
		<div class="breadcrumb-text">
			<h1 class="page-title">About Us</h1>
			<ul>
				<li><a routerLink="/home">Home</a></li>
				<li>About Us</li>
			</ul>
		</div>
	</div>

</section>
<!--====== Breadcrumb part End ======-->

<!--====== About Section start ======-->
<section class="about-section about-illustration-img section-gap">
	<div class="container">
		<div class="illustration-img">
			<img src="assets/illustration/01.png" alt="claibrage info systems">
		</div>
		<div class="row no-gutters justify-content-lg-end justify-content-center">
			<div class="col-lg-6 col-md-10">
				<div class="about-text">
					<div class="section-title left-border mb-40">
						<span class="title-tag">About Us</span>
						<p class="mb-25">Our history has started in 2014, through next few we are going to rock the
							world! </p>
					</div>
					<p class="mb-25">
						We are Indian-based software development company specializing in providing businesses throughout the worldwide with tailored technology solutions. As a mobile and web-based application development, we have skilled software developers combined with technological expertise, specific domain experiences, and a passion for excellence to deliver enterprise-grade solutions.We are Indian-based software development company specializing in providing businesses throughout the worldwide with tailored technology solutions. As a mobile and web-based application development, we have skilled software developers combined with technological expertise, specific domain experiences, and a passion for excellence to deliver enterprise-grade solutions.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====== About Section end ======-->

<!--====== Service Section Start ======-->
<section class="service-section grey-bg service-line-shape section-gap">
	<div class="container">
		<!-- Section Title -->
		<div class="section-title text-center both-border mb-50">
			<span class="title-tag">Most Features</span>
			<h2 class="title">We Provide Most Exclusive <br> Service For Business</h2>
		</div>
		<!-- Services Boxes -->
		<div class="row service-boxes justify-content-center">
			<div class="col-lg-3 col-sm-6 col-10 wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="400ms">
				<div class="service-box-three border-0">
					<div class="icon">
						<img src="assets/icons/01.png" alt="Icon">
					</div>
					<h3><a href="#">Creative Idea</a></h3>
					<!-- <p>Sed perspicia unde omnis</p> -->
					<!-- <a href="#" class="service-link">
                        <i class="fal fa-long-arrow-right"></i>
                    </a> -->
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-10 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="500ms">
				<div class="service-box-three border-0">
					<div class="icon">
						<img src="assets/icons/02.png" alt="Icon">
					</div>
					<h3><a href="#">Strategy</a></h3>
					<!-- <p>Quis autem velrepres hend</p>
                    <a href="#" class="service-link">
                        <i class="fal fa-long-arrow-right"></i>
                    </a> -->
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-10 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="600ms">
				<div class="service-box-three border-0">
					<div class="icon">
						<img src="assets/icons/03.png" alt="Icon">
					</div>
					<h3><a href="#">Relationship</a></h3>
					<!-- <p>Sed perspicia unde omnis</p> -->
					<!-- <a href="#" class="service-link">
                        <i class="fal fa-long-arrow-right"></i>
                    </a> -->
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-10 wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="700ms">
				<div class="service-box-three border-0">
					<div class="icon">
						<img src="assets/icons/04.png" alt="Icon">
					</div>
					<h3><a href="#">Productivity</a></h3>
					<!-- <p>Quis autem velrepres hend</p>
                    <a href="#" class="service-link">
                        <i class="fal fa-long-arrow-right"></i>
                    </a> -->
				</div>
			</div>
		</div>
	</div>
	<div class="line-one">
		<img src="assets/lines/12.png" alt="line-shape">
	</div>
	<div class="line-two">
		<img src="assets/lines/11.png" alt="line-shape">
	</div>
</section>
<!--====== Service Section End ======-->

<!--====== Advanced Tabs Section Start ======-->
