<!--====== Breadcrumb part Start ======-->
<section class="breadcrumb-section bg-img-c" style="background-image: url(assets/breadcrumb.jpg);">
    <div class="container">
        <div class="breadcrumb-text">
            <h1 class="page-title">About Us</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
   
</section>
<!--====== Breadcrumb part End ======-->

<!--====== About Section start ======-->
<section class="about-section about-illustration-img section-gap">
    <div class="container">
        <div class="illustration-img">
            <img src="assets/illustration/01.png" alt="Image">
        </div>
        <div class="row no-gutters justify-content-lg-end justify-content-center">
			<div class="col-lg-6 col-md-10">
				<div class="about-text">
					<div class="section-title left-border mb-40">
						<span class="title-tag">About Us</span>
						<p class="mb-25">Our history has started in 2014, through next few we are going to rock the
							wordl! </p>
					</div>
					<p class="mb-25">
						Calibrage Info helps global companies run their mission-critical systems and operations while
						modernizing IT, optimizing data architectures, and ensuring security and scalability across
						public, private and hybrid clouds.
					</p>
				</div>
			</div>
		</div>
    </div>
</section>
<!--====== About Section end ======-->

<!--====== Service Section Start ======-->
<section class="service-section grey-bg service-line-shape section-gap">
    <div class="container">
        <!-- Section Title -->
        <div class="section-title text-center both-border mb-50">
            <span class="title-tag">Most Features</span>
            <h2 class="title">We Provide Most Exclusive <br> Service For Business</h2>
        </div>
        <!-- Services Boxes -->
        <div class="row service-boxes justify-content-center">
            <div class="col-lg-3 col-sm-6 col-10 wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="400ms">
                <div class="service-box-three border-0">
                    <div class="icon">
                        <img src="assets/icons/01.png" alt="Icon">
                    </div>
                    <h3><a href="#">Creative Idea</a></h3>
                    <!-- <p>Sed perspicia unde omnis</p> -->
                    <!-- <a href="#" class="service-link">
                        <i class="fal fa-long-arrow-right"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-10 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="500ms">
                <div class="service-box-three border-0">
                    <div class="icon">
                        <img src="assets/icons/02.png" alt="Icon">
                    </div>
                    <h3><a href="#">Strategy</a></h3>
                    <!-- <p>Quis autem velrepres hend</p>
                    <a href="#" class="service-link">
                        <i class="fal fa-long-arrow-right"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-10 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="600ms">
                <div class="service-box-three border-0">
                    <div class="icon">
                        <img src="assets/icons/03.png" alt="Icon">
                    </div>
                    <h3><a href="#">Relationship</a></h3>
                    <!-- <p>Sed perspicia unde omnis</p> -->
                    <!-- <a href="#" class="service-link">
                        <i class="fal fa-long-arrow-right"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-10 wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="700ms">
                <div class="service-box-three border-0">
                    <div class="icon">
                        <img src="assets/icons/04.png" alt="Icon">
                    </div>
                    <h3><a href="#">Productivity</a></h3>
                    <!-- <p>Quis autem velrepres hend</p>
                    <a href="#" class="service-link">
                        <i class="fal fa-long-arrow-right"></i>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="line-one">
        <img src="assets/lines/12.png" alt="line-shape">
    </div>
    <div class="line-two">
        <img src="assets/lines/11.png" alt="line-shape">
    </div>
</section>
<!--====== Service Section End ======-->

<!--====== Advanced Tabs Section Start ======-->
<section class="advanced-tab section-gap">
	<div class="container">
		<!-- Tabs Buttons -->
		<div class="tab-buttons">
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<a class="active" id="nav-mission" data-toggle="tab" href="#tab-mission" role="tab">Our Mission</a>
				<a id="nav-history" data-toggle="tab" href="#tab-vision" role="tab">Our Vision</a>
				<a id="nav-team" data-toggle="tab" href="#tab-values" role="tab">Our Values</a>
				<a id="nav-team" data-toggle="tab" href="#tab-approach" role="tab">Our Approach</a>

			</div>
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="tab-mission" role="tabpanel">
					<div class="tab-text-block left-image with-left-circle">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 col-md-10">
								<div class="block-image">
									<img src="assets/tab-block.jpg" alt="Image">
								</div>
							</div>
							<div class="col-lg-6 col-md-10">
								<div class="block-text">
									<h2 class="title">To Deliver The Best Possible Reliable Software Solutions To Help
										Our Clients.
									</h2>
									<p>
										Our mission is to translate advance technologies in values through professional
										services and providing our clients with the most optimal, cost-effective and
										robust solutions, which boost up with the increase in the returns and
										productivity of their businesses.
									</p>
									<!-- <ul>
										<li>
											<i class="fas fa-check"></i>
											There are many variations of passages of LoreIpsum available, but the
											majority have suffered
										</li>
										<li>
											<i class="fas fa-check"></i>
											It uses a dictionary of over 200 Latin wor combined with a handful of
											model sentence structure
										</li>
										<li>
											<i class="fas fa-check"></i>
											Richard McClintock, a Latin profe hampden-sydney College in Virginia,
											looked up one more
										</li>
									</ul> -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="tab-vision" role="tabpanel">
					<div class="tab-text-block right-image with-right-circle">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 col-md-10 order-2 order-lg-1">
								<div class="block-text">
									<h2 class="title">For the world, envision resonates with Innovation.</h2>
									<p>
										Our vision is to Create Peace and Synergy globally, through technologies and to
										build a reputation of being one of the most innovative IT Solution and Service
										provider. We believe in doing our work in the most efficient way with robust and
										structured methodology, with gradual evolution from hard-work to smart- work
										culture, at client’s end also.
									</p>
									<!-- <ul>
										<li>
											<i class="fas fa-check"></i>
											There are many variations of passages of LoreIpsum available, but the
											majority have suffered
										</li>
										<li>
											<i class="fas fa-check"></i>
											It uses a dictionary of over 200 Latin wor combined with a handful of
											model sentence structure
										</li>
										<li>
											<i class="fas fa-check"></i>
											Richard McClintock, a Latin profe hampden-sydney College in Virginia,
											looked up one more
										</li>
									</ul> -->
								</div>
							</div>
							<div class="col-lg-6 col-md-10 order-1 order-lg-2">
								<div class="block-image">
									<img src="assets/tab-block.jpg" alt="Image">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="tab-values" role="tabpanel">
					<div class="tab-text-block left-image with-left-circle">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 col-md-10">
								<div class="block-image">
									<img src="assets/tab-block.jpg" alt="Image">
								</div>
							</div>
							<div class="col-lg-6 col-md-10">
								<div class="block-text">
									<h2 class="title">Our core values inspire excellence, creativity and integrity.</h2>
									<p>
										To provide quality with transparency dealing with commitment through advanced
										technologies to create cost effective with value in tune with time & overall
										effectiveness ethically. We aim to be the best at what we do.
									</p>
									<!-- <ul>
										<li>
											<i class="fas fa-check"></i>
											There are many variations of passages of LoreIpsum available, but the
											majority have suffered
										</li>
										<li>
											<i class="fas fa-check"></i>
											It uses a dictionary of over 200 Latin wor combined with a handful of
											model sentence structure
										</li>
										<li>
											<i class="fas fa-check"></i>
											Richard McClintock, a Latin profe hampden-sydney College in Virginia,
											looked up one more
										</li>
									</ul> -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="tab-approach" role="tabpanel">
					<div class="tab-text-block right-image with-right-circle">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 col-md-10 order-2 order-lg-1">
								<div class="block-text">
									<h2 class="title">We Let The Results Do The Talking.</h2>
									<p>
										Our main emphasis is to deliver best quality in every project we undertake. With
										our time tested business methodology, and structured solution building approach,
										we ensure to maintain our global business standards.
									</p>
									<!-- <ul>
										<li>
											<i class="fas fa-check"></i>
											There are many variations of passages of LoreIpsum available, but the
											majority have suffered
										</li>
										<li>
											<i class="fas fa-check"></i>
											It uses a dictionary of over 200 Latin wor combined with a handful of
											model sentence structure
										</li>
										<li>
											<i class="fas fa-check"></i>
											Richard McClintock, a Latin profe hampden-sydney College in Virginia,
											looked up one more
										</li>
									</ul> -->
								</div>
							</div>
							<div class="col-lg-6 col-md-10 order-1 order-lg-2">
								<div class="block-image">
									<img src="assets/tab-block.jpg" alt="Image">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
