<!--====== Breadcrumb part Start ======-->
<section class="breadcrumb-section bg-img-c" style="background-image: url(assets/mobile.jpg);">
    <div class="container">
        <div class="breadcrumb-text">
            <h1 class="page-title">Mobile Application Development</h1>
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
   
</section>
<!--====== Breadcrumb part End ======-->

<!--====== Service Details Start ======-->
<section class="service-details section-gap">
    <div class="container">
        <div class="row">
            <!-- Dettails Content -->
            <div class="col-lg-8">
                <div class="service-details-content">
                    <div class="main-thumb mb-40">
                        <img src="assets/img/details/service-2.jpg" alt="claibrage info systems">
                    </div>
                    <h2 class="title">Mobile Application Development</h2>
                    <p>
                        We can develop a mobile ready site to work in conjunction with your existing web presence or as a
                        standalone product developed specifically to target mobile audiences. Using the latest in mobile
                        development practices, we can build your mobile web presence so it will function effectively on
                        popular mobile operating systems and screen resolutions.
                    </p>
                    <ul class="circle-check-list mt-50 mb-50">
                        <li>
                            <i class="fas fa-check"></i>Quickly retrieve data anywhere there is cell phone coverage.
                        </li>
                        <li>
                            <i class="fas fa-check"></i>Provide location-sensitive information and content.
                        </li>
                        <li>
                            <i class="fas fa-check"></i>Retrieve information and data without a Wi-Fi connection.
                        </li>
                        <li>
                            <i class="fas fa-check"></i>Native app development.
                        </li>
                        <li>
                            <i class="fas fa-check"></i>Cross platform app development.
                        </li>
                        <li>
                            <i class="fas fa-check"></i>Android, Shift, Windows.
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Sidebar -->
            <div class="col-lg-4 col-md-8">
                <app-sidebar></app-sidebar>
            </div>
        </div>
    </div>
</section>
<!--====== Service Details End ======-->

<!--====== CTA Start ======-->
<section class="cta-aection">
    <div class="container">
        <div class="cta-wrap bg-img-c" style="background-image: url(assets/img/lines/16.png);">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="cta-content text-center">
                        <div class="section-title both-border mb-30">
                            <span class="title-tag">Get A Quote</span>
                            <h2 class="title">Feel Any Project For Business Consulting Get Started Us</h2>
                        </div>
                        <a href="#" class="main-btn main-btn-3">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== CTA Start ======-->