/* You can add global styles to this file, and also import other style files */
.banner-content h1 {
    font-size: 25px !important;
}

.banner-section .single-banner .banner-content .promo-text {
    letter-spacing: 4px !important;
}

.project-boxes .project-box .project-desc {
    position: absolute;
    left: 0 !important;
    right: 0 !important;
    bottom: -55px;
    padding: 35px 15px 25px;
    border-radius: 0px;

}
.cat-widget .active{
    color:#ff4a17 !important;
}
.navbar-light .navbar-nav .active>.nav-link {
    color:#ff4a17 !important;
    /* You can change the background color as needed */
}

.project-boxes .project-box .project-desc h4 {
    font-size: 16px !important;
    font-weight: 600;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.breadcrumb-section .breadcrumb-text {
    text-align: left !important;
}

.breadcrumb-section .breadcrumb-text .page-title {
    font-size: 50px !important;
}

.breadcrumb-section .breadcrumb-text ul li {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    margin: 0px !important;
}

.breadcrumb-section .breadcrumb-text ul li a::after {
    content: ">";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 3px !important;
}

.navbar-btn .main-btn {
    line-height: 40px !important;
    font-weight: 500 !important;
}

@media (max-width: 399px) {

    .wcu-section .wcu-video .video-poster-one,
    .wcu-section .wcu-video::before {
        width: 250px !important;
        height: 250px !important;
    }

    .wcu-section .wcu-text-two ul li {
        font-weight: 600;
        margin-bottom: 10px;
        float: left;
        width: 100%;
    }
}

@media (max-width: 767px) {

    .wcu-section .wcu-video .video-poster-one,
    .wcu-section .wcu-video::before {
        left: 0;
        width: 380px;
        height: 380px;
    }
}